@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Poppins:wght@200;300;400&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Karla:wght@400;800&family=Poppins:wght@200;300;400&family=Raleway:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: white; 
}

.main{
    padding: 50px;
    line-height: 11px;
}

h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: #4ADF86;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
}

h3{
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    font-weight: normal;
}

.generate-btn{
    margin-left: 50px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    background-color: #10B981;
    color: white;
    font-size: 1rem;
    transition: .5s;
    cursor: pointer;
}

.generate-btn:hover{
    background-color: #0b704e;
}

.generate-btn:active{
    background-color: #0a573d;
}



.btn-copy{
    margin-left: 49px;
    margin-top: 2.5rem;
    border: none;
    padding: 10px;
    border-radius: 6px;
    background: #273549;
    width: 11rem;
    height: 15px;
    display: inline-block;
    color: #55F991;
    text-align: center;
}


